.somecolor {
    background: #fad9df;
    padding: 1rem;
    color: red;
}

div {
    background: green;
    padding: 1rem;
    color: red;
}

div {
    background: #cbd3ff;
    padding: 1rem;
    color: red;
}

.newColor {
    color: green;
}
